body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    /* grid-template-columns: 25% 50% 25%;
    grid-template-rows: 300px 300px; */
    /* grid-template: filas / columnas; */
    /* fr =! auto */
    /* Auto ajusta el tamaño del contenedor respecto a su contenido mientras que fr los ajusta dependiendo de su contenedor, en este caso, el contenedor seria el body */
    /* grid-template: 300px 100px 100px / 1fr 1fr 1fr; */
    /* Con repeat() puedo repetir los fr que quiero */
    grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr));
    /* grid-gap: filas columnas */
    grid-gap: 10px;
}
.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}
.item:nth-of-type(4){
    background: blue;
    overflow: auto;
    /* Las siguientes lineas estaran disponible en un futuro */
    /* display: subgrid; */
    /* display: inline-grid; */
    display:grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
}
.item .item{
    background: yellow;
}